<div class="locationContainer">
  <div class="detailsTitle">
    <h4>Event Details and RSVP</h4>
  </div>
  <div class="locationDetails">
    <ul>
      <li>
        <%= event.address %>
      </li>
      <li>
        <%= event.city %>
      </li>
      <li>
        <%= event.province %>
      </li>
      <li>
        <%= event.post_code %>
      </li>
    </ul>
  </div>
</div>
