<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,400;0,600;1,400&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>

  <script defer src="/scripts/app.js"></script>
</head>
<%- include('partials/header') %>

  <body>
    <div class="wrapper">
      <div class="createEventContainer" method="post" action="/createEvent" >
        <h2>Event Information</h2>
        <form class="newEventForm" >
          <h3>Your Information</h3>
          <label for="name">Name</label>
          <input type="text" name="name" require\ />
          <label for="email">Email</label>
          <input type="email" name="email" required />
          <label for="phone">Phone (Optional)</label>
          <input type="number" name="phone" />

          <label for="title">Title</label>
          <input type="text" name="title" required />
          <label for="description">Description</label>
          <input type="text" name="description" required />
          <label for="location">Location</label>
          <input type="text" name="location" required />
          <!-- <label for="date">Date</label> -->
          <!-- <input id="date" type="date" name="date" value="" min=<% new Date().toLocaleDateString('en-ca') %> /> -->
          <div id="timeSelect">
          <label for="dateStart">Date start</label>
            <input type="datetime-local" name="dateStart" required>
            <label for="dateEnd">Date end</label>
            <input type="datetime-local" name="dateEnd" required>
          </div>
          <div class="timeSlots"></div>
          <button type="button" id="addTime">add TimeSlot</button>
          <!-- <%- include('partials/timeSlots') %> -->

        

          <button> Create your event! </button>
        </form>

      </div>
      <!-- LEFT FLOAT -->
      <section id="leftBodyContainerMain">

        <!-- LOGIN -->
        <% if (!events) { %>
          <div class="loginAndRegistration">
            <div class="loginContainer">
              <form class="login" method="POST" action="/login">
                <p>Login</p>
                <label for="Email">Email</label>
                <input id="loginEmail" type="email" name="email">
                <label id="loginPassword" for="Password">Password</label>
                <input type="password" name="password" />
                <button type="submit">Submit</button>
              </form>
            </div>

            <!-- REGISTER -->
            <div class="registerContainer">
              <form class="register" method="POST" action="/register">
                <p>Register</p>
                <label for="name">name</label>
                <input type="text" name="name" />
                <label for="email">Email</label>
                <input id="registerEmail" type="email" name="email" />
                <label id="registerPassword" for="password">Password</label>
                <input type="password" name="password" />
                <button type="submit">Submit</button>
              </form>
            </div>
          </div>
          <% } else { %>
            <p></p>
            <% } %>



              <!-- RIGHT FLOAT -->
              <section id="rightBodyContainerMain">

                <!-- ABOUT  -->
                <div class="aboutContainerRight">
                  <h1>Shmeckles</h1>
                  <h4>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut
                    labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo
                    consequat.</h4>
                  <img src="https://cdn.theatlantic.com/media/mt/science/cat_caviar.jpg">
                </div>

                <!-- SCHEDULED EVENTS -->
                <div class="existingHostEvents">
                  <h4>Your scheduled events</h4>
                  <ul class="scheduledEvents">
                    <% if(events) { %>
                      <% for (let item of events) { %>
                        <li>
                          <%= item %>
                        </li>
                        <% } %>
                          <% } else { %>
                            <p>list</p>
                            <% } %>
                  </ul>
                </div>
              </section>
    </div>
  </body>
  <script>
    $(document).ready(function () {
      let count = 1
              $('#addTime').on('click', (e) => {
                let html = $('#timeSelect').html()
             
              let newHtml =$(html).each((index,item) => {
                if ($(item).is('input')) {
                  $(item).attr('name', function(i,c){
                    return c + count
                  })
                } else if ($(item).is('label')) { 
                  $(item).text(function(i,c){
                   return c + count
                  })
                }
              })
                $('.timeSlots').append(newHtml)
                count +=1
              })
              $('.newEventForm').on('submit', function(e) {
                // e.preventDefault()
                console.log('hello')
                let data = {};
                let form = $(this).serializeArray()
                console.log(form.slice(6, form.length-1))
                for(let item of form.slice(0, 6)) {
                  data[item.name] = item.value
                }
                data.dates=[]
                for(let i=6; i<form.length; i+=2) {
                  data.dates.push({[form[i].name]: form[i].value,[form[i+1].name]: form[i+1].value})
                }
                console.log(data)
                $.post('/createEvent', data)
              })
            

      // $('.existingHostEvents').hide()
      $('.aboutContainerRight').hide()
      $('.rightBodyContainerMain').hide()
      $('.loginAndRegistration').hide()
      $('.existingHostEvents').hide()
    });
  </script>

</html>