<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,400;0,600;1,400&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>

  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/header') %>
    <div class="mainPage">
      <div class="mainPage__left">
        <h3 class="mainPage__left__title">Your Information</h3>
        <form class="mainPage__left__form" method="POST" action="/createEvent">

          <label class="mainPage__left__form__label" for="name">Name</label>
          <input class="mainPage__left__form__item" type="text" name="name" required />

          <label class="mainPage__left__form__label" for="email">Email</label>
          <input class="mainPage__left__form__item" type="email" name="email" required />

          <label class="mainPage__left__form__label" for="phone">Phone (Optional)</label>
          <input class="mainPage__left__form__item" type="text" name="phone" />

          <label class="mainPage__left__form__label" for="title">Title</label>
          <input class="mainPage__left__form__item" type="text" name="title" required />

          <label class="mainPage__left__form__label" for="description">Description</label>
          <input class="mainPage__left__form__item" type="text" name="description" required />

          <label class="mainPage__left__form__label" for="location">Location</label>
          <input class="mainPage__left__form__item" type="text" name="location" required />

          <div id="mainPage__left__form__timeSelect">
            <label class="mainPage__left__form__label" for="dateStart">Start Time</label>
            <input class="mainPage__left__form__item" type="datetime-local" name="dateStart" required>
            <label class="mainPage__left__form__label" for="dateEnd">End Time</label>
            <input class="mainPage__left__form__item" type="datetime-local" name="dateEnd" required>
          </div>
          <div class="mainPage__left__form__time"></div>
          <button class="mainPage__left__form__button" type="button" id="addTime">Add Time Slot</button>

          <button class="mainPage__left__form__button"> Create Your Event! </button>

        </form>
      </div>
      <div class="mainPage__right">
        <h1 class="mainPage__right__title">Eventgenix</h1>
      </div>
    </div>
</body>
<script>
  $(document).ready(function () {
    let count = 1
    $('#addTime').on('click', (e) => {
      let html = $('#mainPage__left__form__timeSelect').html()
      let newHtml = $(html).each((index, item) => {
        if ($(item).is('input')) {
          $(item).attr('name', function (i, c) {
            return c + count
          })
        } else if ($(item).is('label')) {
          $(item).text(function (i, c) {
            return c + ' ' + count
          })
        }
      })
      $('.mainPage__left__form__time').append(newHtml)
      count += 1
    })
  });
</script>

</html>
