$feather: #77C9D4; //header and borders
$sleek-grey: #828282; //boxes
$off-white: #f5f5f5;
$mint-cream: #F5FFFA;
$redButton: tomato;
$greenButton: darkseagreen;

* {
  box-sizing: border-box;
}

.timeChoice {
  input {
    float: left;
    outline: 3px solid $redButton;
  }

  text-align: center;
  font-size: 20px;
  margin: 4px;
  padding: 10px;
  max-width: 300px;
  min-width: 120px;
  height: 80%;
  background-color: $off-white;
  width: 25%;
}

// .wrapper {
//   margin-right: 2%;
//   margin-left: 2%;
//   max-width: 1300px;
//   padding-right: 10px;
//   padding-left: 10px;
//   margin-top: 200px;
// }

// main {
//   float: left;
//   width: 55%;
//   margin-left: 5%;
//   display: flex;
//   flex-direction: column;
//   background-color: $mint-cream;
//   border-radius: 25px;
// }

// .eventTitleContainer {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .eventDescription {
//   padding: 12px 20px;
//   margin-top: 20px;

//   p {
//     background-color: $sleek-grey;
//     border-radius: 14px;
//     padding: 8px;
//     font-style: italic;
//     color: $off-white;
//   }
// }


// .contactInfo {
//   border: solid green 1px;

//   ul {
//     display: flex;
//     flex-direction: column;
//     list-style-type: none;

//     li {
//       padding: 6px 0px 6px 10px;
//     }
//   }

//   h4 {
//     align-items: center;
//   }
// }


// .eventDateAndLocation {
//   float: right;
//   width: 30%;
//   margin-right: 5%;
//   margin-left: 5%;
//   display: flex;
//   flex-direction: column;
//   background-color: $mint-cream;
//   border-radius: 25px;
// }

// .locationContainer {
//   //see views/partials/eventDetails.ejs
// }

// .detailsTitle {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .locationDetails {
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   ul {
//     list-style-type: none;
//     margin: 0;
//     padding: 8px;
//     background-color: $sleek-grey;
//     border-radius: 14px;

//     li {
//       padding: 4px 0px;
//       color: $off-white;
//     }
//   }
// }

// .inviteeResponse {
//   display: flex;
//   align-items: center;
//   flex-direction: column;
//   height: 200px;
// }

// .eventDateAndTime {
//   display: flex;
//   flex-direction: column;
//   list-style-type: none;
//   padding-left: 0px;
// }

// .responseCheckmarks {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   height: 100%;
// }

// .checkyesContainer {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 50%;

//   .checkyes {
//     width: 100%;
//     height: 100%;
//   }

//   .checkyesButton {
//     width: 100%;
//     height: 100%;
//     background-color: darkseagreen;
//     border-top-left-radius: 12px;
//     border-top-right-radius: 12px;
//   }
// }

// .checknoContainer {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 50%;

//   .checknoButton {
//     width: 100%;
//     height: 100%;
//     background-color: tomato;
//     border-bottom-left-radius: 12px;
//     border-bottom-right-radius: 12px;
//   }

//   .checkno {
//     width: 100%;
//     height: 100%;
//   }
// }

///////////////////////////////
/// ///////////////////////////////
/// ///////////////////////////////
/// ///////////////////////////////
/// ///////////////////////////////
///
///
///

body {
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: $feather;
  font-family: 'Zilla Slab', serif;

  header {
    width: 100%;
    margin-bottom: 4%;
    height: 6rem;
    background-color: $sleek-grey;
    position: fixed;
    top: 0;

    .material-icons {
      color: $mint-cream;
      font-size: 4em;
      margin-left: 2%;
    }

  }

  .logoContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $off-white;
    height: 100%;
    padding-left: 5%;
  }

  .eventsPage {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 6rem;


    .eventsPage__top__share {
      border: solid blue 1px;
      background-color: $mint-cream;
      width: fit-content;
      margin: 0 auto;
      padding: 8px;
      border-radius: 25px;
      margin-top: 150px;

      .eventsPage__top__share__title {
        text-align: center;
      }

      .eventsPage__top__share__url {
        text-align: center;
        background-color: $sleek-grey;
        color: $off-white;
        padding: 6px;
        border-radius: 12px;
        border: solid tomato 2px;
      }
    }

    .eventsPage__top {
      display: flex;
      margin-top: 4rem;
      justify-content: space-between;

      .eventsPage__top__left {
        width: calc(50% - (40px / 2));
        border-radius: 25px;
        background-color: $mint-cream;
        text-align: center;

        .eventsPage__top__left__eventDetails {
          padding: 8px;


          .eventsPage__top__left__eventDetails__title {
            margin-bottom: 40px;
          }

          .eventsPage__top__left__eventDetails__description {
            background-color: $sleek-grey;
            color: $off-white;
            padding: 8px;
            border-radius: 12px;
            border: solid tomato 2px;
          }

          .eventsPage__top__left__eventDetails__contact {

            .eventsPage__top__left__eventDetails__contact__itemContainer {
              background-color: $sleek-grey;
              padding: 0px 12px;
              border-radius: 12px;
              border: solid tomato 2px;
              width: 50%;
              margin: 0 auto;
            }

            .eventsPage__top__left__eventDetails__contact__item {
              color: $off-white;
              padding: 4px 0px;
            }
          }

        }

      }

      .eventsPage__top__right {
        width: calc(50% - (40px / 2));
        background-color: $mint-cream;
        border-radius: 25px;
        padding: 6px;

        .eventsPage__top__right__location {
          padding-left: 8px;
          padding-top: 10px;
          width: fit-content;

          .eventsPage__top__right__location__title {
            padding: 0px 12px;
          }

          .eventsPage__top__right__location__details {
            .eventsPage__top__right__location__details__list {
              background-color: $sleek-grey;
              list-style-type: none;
              padding: 0px 12px;
              border-radius: 12px;
              border: solid tomato 2px;


              .eventsPage__top__right__location__details__list__item {
                color: $off-white;
                padding: 4px 0px;
              }
            }
          }
        }
      }

    }

    .eventsPage__bottom {
      display: flex;
      justify-content: center;
      min-height: 200px;
      width: 100%;
      border: solid purple 1px;
      margin-top: 100px;
    }


  }

}
