$feather: #77C9D4; //background
$sleek-grey: #828282; //text boxes
$off-white: #f5f5f5;
$mint-cream: #F5FFFA; //major containers
$redButton: tomato;
$greenButton: darkseagreen;

header {
  width: 100%;
  margin-bottom: 4%;
  height: 6rem;
  background-color: $sleek-grey;
  position: fixed;
  top: 0;

  .material-icons {
    color: $mint-cream;
    font-size: 4em;
    margin-left: 2%;
  }
}

.logoContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $off-white;
  height: 100%;
  padding-left: 5%;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: $feather;
  font-family: 'Zilla Slab', serif;

  .wrapper {
    margin-right: 2%;
    margin-left: 2%;
    max-width: 1300px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 200px;
  }

  input {
    background-color: $sleek-grey;
    color: $off-white;
    border: $redButton solid 2px;
    border-radius: 6px;
    margin: 8px 0px;
  }

  button {
    background-color: $greenButton;
    border-radius: 6px;
  }
}



.createEventContainer {
  width: 50%;
  height: 100%;
  background-color: $mint-cream;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  padding: 30px;

  h2 {
    margin-top: -4px;
  }

  .newEventForm {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  #timeSlotsList {
    display: flex;
    flex-direction: column;
  }

  select {
    background-color: $sleek-grey;
    color: $off-white;
    border: $redButton solid 2px;
    border-radius: 6px;
    margin: 8px 0px;
  }


}
